<!DOCTYPE html>
<head>
    <meta charset="UTF8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Criação</title>
</head>

<body>
    
    <div class="container">
        <h1>Cadastrar Galaxia</h1>
        <form action="/criar" method="POST">

            <div class="form-group">
                <label for="nome">Digite o nome da galaxia</label><br>
                <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nome" placeholder="Nome da Galaxia">
            </div>
            
            <div class="form-group">
                <label for="estrela">Maior estrela:</label><br>
                <input type="text" class="form-control"  id="estrela" name="estrela" placeholder="Estrela"><br>
            </div>

            <div class="form-group">
                <label for="distancia">Distância:</label><br>
                <input type="text" class="form-control"  id="distancia" name="distancia" placeholder="Distancia"><br>
            </div>

            <div class="form-group">
                <label for="imagem">Adicione o Link da Imagem:</label><br>
                <input type="text" class="form-control" id="imagem" name="imagem" placeholder="Imagem"><br>
            </div>

            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/js/bootstrap.bundle.min.js"></script>
